.containerHeader {
  width: 100%;
  height: 150px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.containerUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelUser {
  padding: 1rem;
  color: white;
  border-radius: 9999px;
  background-color: #3b82f6;
  text-align: center;
}
